@model GirosModel
@{
    ViewData["Title"] = "UpdateGiros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
  <div class="card-header">
    Editar Giros
  </div>
  <div class="card-body">
    <form asp-action="UpdateGiros" asp-controller="CrudGiros" method="post">
        <input asp-for="GIR_GIRO_ID" type="hidden" class="form-control">
      <div class="mb-3">
        <label class="form-label">Giro recibido</label>
        <input asp-for="GIR_RECIBO" type="text" class="form-control">
        <span asp-validation-for="GIR_RECIBO" class="text-danger"></span>
        <div id="giroHelp" class="form-text">Si el giro no existe, este no se actualizará</div>
      </div>
      <div class="mb-3">
        <label class="form-label">Id de la ciudad a la que pertenece el giro</label>
        <input asp-for="GIR_CIUDAD_ID" type="number" class="form-control">
        <span asp-validation-for="GIR_CIUDAD_ID" class="text-danger"></span>
        <div id="paisID" class="form-text">Insertar el ID de la ciudad a la que corresponde el giro</div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <a asp-action="SelectGiros" asp-controller="CrudGiros" class="btn btn-warning">Volver a la lista de giros</a>
    </form>
  </div>
</div>


