@model CiudadesModel
@{
    ViewData["Title"] = "UpdateCiudades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
  <div class="card-header">
    Editar Ciudad
  </div>
  <div class="card-body">
    <form asp-action="UpdateCiudades" asp-controller="CrudCiudades" method="post">
        <input asp-for="id_ciudad" type="hidden" class="form-control">
      <div class="mb-3">
        <label class="form-label">Nombre de la ciudad</label>
        <input asp-for="nombre" type="text" class="form-control">
        <span asp-validation-for="nombre" class="text-danger"></span>
        <div id="paisHelp" class="form-text">Si la ciudad no existe, esta no se actualizará</div>
      </div>
      <div class="mb-3">
        <label class="form-label">Id del pais a la que pertenece la ciudad</label>
        <input asp-for="id_pais" type="number" class="form-control">
        <span asp-validation-for="id_pais" class="text-danger"></span>
        <div id="paisID" class="form-text">Insertar el ID del país a la que corresponde la ciudad</div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <a asp-action="SelectCiudades" asp-controller="CrudCiudades" class="btn btn-warning">Volver a la lista de ciudades</a>
    </form>
  </div>
</div>

